.container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transfrom 0.2s;
    width: 500px;
    text-align: center;
    margin-left:100px;
    margin-top: 20px;
}
h1{
    font-size: large;
    text-align: center;
    color: purple;
}
label{
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #724ea8;
    font-weight: bold;
}

input{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

select{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button{
    padding: 10px 15px;
    border-radius: 6px;
    margin: 10px;
    border: none;
    color: #fff;
    background: #724ea8;
    cursor: pointer;
}

.submit_msg{
    color: purple;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
